/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700;900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
@-webkit-keyframes laluot {
  from {
    -webkit-mask-position: 150% 0px;
    mask-position: 150% 0px;
  }
  100% {
    -webkit-mask-position: 0% 0px;
    mask-position: 0% 0px;
  }
}
@keyframes laluot {
  from {
    -webkit-mask-position: 150% 0px;
    mask-position: 150% 0px;
  }
  100% {
    -webkit-mask-position: 0% 0px;
    mask-position: 0% 0px;
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(0%, 0px);
            transform: translate(0%, 0px);
  }
  10% {
    -webkit-transform: translate(-1.4%, 6px);
            transform: translate(-1.4%, 6px);
  }
  40% {
    -webkit-transform: translate(-1.2%, -5px);
            transform: translate(-1.2%, -5px);
  }
  50% {
    -webkit-transform: translate(-1.6%, -6px);
            transform: translate(-1.6%, -6px);
  }
  85% {
    -webkit-transform: translate(-1.4%, 6px);
            transform: translate(-1.4%, 6px);
  }
  100% {
    -webkit-transform: translate(0%, 0px);
            transform: translate(0%, 0px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(0%, 0px);
            transform: translate(0%, 0px);
  }
  10% {
    -webkit-transform: translate(-1.4%, 6px);
            transform: translate(-1.4%, 6px);
  }
  40% {
    -webkit-transform: translate(-1.2%, -5px);
            transform: translate(-1.2%, -5px);
  }
  50% {
    -webkit-transform: translate(-1.6%, -6px);
            transform: translate(-1.6%, -6px);
  }
  85% {
    -webkit-transform: translate(-1.4%, 6px);
            transform: translate(-1.4%, 6px);
  }
  100% {
    -webkit-transform: translate(0%, 0px);
            transform: translate(0%, 0px);
  }
}

.wiggleef {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes filter {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-filter: brightness(130%);
            filter: brightness(130%);
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes filter {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-filter: brightness(130%);
            filter: brightness(130%);
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.filteref {
  -webkit-animation: filter 2000ms infinite ease-in-out;
          animation: filter 2000ms infinite ease-in-out;
}

#myModal .modal-body {
  position: relative;
  padding: 0px;
  overflow: inherit;
}

#myModal .modal-body .close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  border: none;
  background: transparent;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

:root {
  --color1: #21569e;
  --color2: #333333;
  --color3: #808080;
  --colorok: #31da70;
  --colorerror: #ff6d6d;
  --whitecolor: #fff;
  --colorlink: #409ff5;
  --spacing: 30px;
  --colortablehead: #e4e4e4;
  --bs-gutter-x: 1.5rem;
  --ratio:1;
}

.error {
  color: var(--colorerror) !important;
}

.green {
  color: var(--colorok) !important;
}

.gold {
  color: var(--color1) !important;
}

.blue {
  color: var(--colorlink) !important;
}

.main {
  color: var(--color1) !important;
}

body {
  font-family: "Montserrat", Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color2);
  background: #f9fdfe;
  background-image: url(../images/bg-top.jpg), url(../images/bg-footer.jpg);
  background-size: 100%;
  background-repeat: no-repeat no-repeat;
  background-position: center calc(116px * var(--ratio)), bottom center;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button {
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

a:hover {
  text-decoration: none;
}

main {
  position: relative;
}

.container {
  max-width: 768px;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#layout {
  height: auto;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow: hidden;
  margin-top: calc(116px * var(--ratio));
}

/*=Header=*/
.header {
  position: relative;
  height: auto;
}

.header .header-center {
  z-index: 9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-center .logo img {
  max-width: 100%;
}

.header .header-center a img {
  max-width: 100%;
}

.header .header-center a.naptien {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.header .header-center a.naptien img {
  max-width: 100%;
}

.header .header-center a.naptien .light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  -webkit-filter: brightness(2);
  filter: brightness(2);
  -webkit-mask-size: 300% 200%;
  mask-size: 300% 200%;
  -webkit-mask-image: -webkit-linear-gradient(-60deg, rgba(255, 255, 255, 0) 40%, #fff 50%, rgba(255, 255, 255, 0) 60%);
          mask-image: -webkit-linear-gradient(-60deg, rgba(255, 255, 255, 0) 40%, #fff 50%, rgba(255, 255, 255, 0) 60%);
  -webkit-animation: laluot linear 2.5s infinite 1s;
  animation: laluot linear 2.5s infinite 1s;
}

.header .header-center a.qua {
  margin-top: -2rem;
}

/*==chuoisukien*/
.chuoisukien {
  height: auto;
  position: relative;
  z-index: 11;
  width: 100%;
}

.chuoisukien .cloud {
  position: absolute;
  bottom: -30px;
  z-index: 3;
}

.chuoisukien .cloud img {
  max-width: 100%;
}

.chuoisukien .gachda {
  top: 180px;
  z-index: -1;
}

.chuoisukien .container {
  position: relative;
}

.chuoisukien .container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chuoisukien .container ul li {
  margin-top: 2rem;
}

.chuoisukien .container ul li a.btn {
  border: none;
  outline: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.chuoisukien .container ul li a.btn .light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  -webkit-filter: brightness(2);
          filter: brightness(2);
  -webkit-mask-size: 300% 200%;
          mask-size: 300% 200%;
  -webkit-mask-image: -webkit-linear-gradient(335deg, rgba(255, 255, 255, 0) 40%, #fff 50%, rgba(255, 255, 255, 0) 60%);
          mask-image: -webkit-linear-gradient(335deg, rgba(255, 255, 255, 0) 40%, #fff 50%, rgba(255, 255, 255, 0) 60%);
  -webkit-animation: laluot linear 2.5s infinite 2s;
          animation: laluot linear 2.5s infinite 2s;
}

.chuoisukien .container ul li a.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chuoisukien .container ul li a.btn img {
  max-width: 100%;
}

.chuoisukien .container ul li a.btn:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.chuoisukien .container ul li:nth-child(2) {
  margin-top: 0;
}

/*==Bang xep hang====*/
.bangxephang {
  width: 100%;
  height: auto;
}

.bangxephang .container .titlebxh {
  background: url(../images/title-bxh.png) no-repeat top center;
  background-size: 100%;
  height: 46.23vw;
  position: relative;
  z-index: 14;
  max-height: 355px;
}

.bangxephang .container .titlebxh .dateend {
  position: relative;
  top: 160px;
}

.bangxephang .container .khungbxh {
  position: relative;
  z-index: 15;
  background: url(../images/bgbxhtop.jpg), url(../images/bgbxhbot.jpg), url(../images/bgbxhmid.jpg);
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-position: top center, bottom center, center center;
  height: 100%;
  width: 100%;
  background-size: 100%;
  margin-top: -164px;
}

.bangxephang .container .khungbxh .khungin {
  width: 95%;
  position: relative;
  padding-top: 2vw;
}

.bangxephang .container .khungbxh .khungin .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bangxephang .container .khungbxh .khungin .nav a {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  background: transparent;
  width: 50%;
  padding: 0;
}

.bangxephang .container .khungbxh .khungin .nav a:hover, .bangxephang .container .khungbxh .khungin .nav a.active {
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
  -webkit-animation: filter 2000ms infinite ease-in-out;
          animation: filter 2000ms infinite ease-in-out;
}

.bangxephang .container .khungbxh .khungin .nav a img {
  background: transparent;
  max-width: 100%;
}

.bangxephang .container .khungbxh .khungin .tab-content {
  width: 100%;
  height: 100%;
}

.bangxephang .container .khungbxh .khungin .tab-content table {
  color: var(--whitecolor);
  font-size: 100%;
}

.bangxephang .container .khungbxh .khungin .tab-content table thead {
  background: rgba(255, 255, 255, 0.116);
  font-size: 110%;
}

.bangxephang .container .khungbxh .khungin .tab-content table tr {
  text-align: center;
}

/*=Taigame + menu==*/
.btnlist {
  text-align: center;
  z-index: 15;
  left: 0;
  top: calc(130px * var(--ratio));
  color: #1d3355;
  -webkit-filter: drop-shadow(0px 0px 1px #ffffff);
          filter: drop-shadow(0px 0px 1px #ffffff);
  width: 50px;
  height: 50px;
  display: block;
  background: transparent;
}

.btnlist i {
  font-size: 2rem;
  text-align: left;
}

.offcanvas {
  color: var(--whitecolor);
  background-color: #102331;
  background-image: url(../images/bg-bot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  max-width: 70%;
}

.offcanvas .btn-close {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.offcanvas .offcanvas-body .list-group .list-group-item {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.1);
  border-style: dotted;
}

.offcanvas .offcanvas-body .list-group .list-group-item a {
  color: var(--whitecolor);
  font-size: 1.1rem;
}

.offcanvas .offcanvas-body .list-group .list-group-item a:focus {
  color: var(--color1);
}

.offcanvas .offcanvas-body .list-group .list-group-item a i {
  width: 1rem;
  text-align: center;
}

.download {
  background-color: #2d648d;
  border-bottom: 1px solid #ffffff80;
}

.download .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download .container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download .container .left .icongame {
  width: calc(100px * var(--ratio));
}

.download .container .left .title-game {
  color: var(--whitecolor);
}

.download .container .left .title-game h4 {
  font-size: calc(160% * var(--ratio));
}

.download .container .right a img {
  width: calc(172px * var(--ratio));
}

.style1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.style1::-webkit-scrollbar {
  width: 6px;
  background-color: #7a272b;
}

.style1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e0605c;
}

.style2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.style2::-webkit-scrollbar {
  width: 6px;
  background-color: #e1d0bc31;
}

.style2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b4957d;
}

/*=POPUP DANGKYSOM=*/
.modal-custom .modal-content .modal-header h4 {
  color: #234f84;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-custom .modal-content .modal-body .content-dksom h4 {
  color: #234f84;
}

.modal-custom .modal-content .modal-body .content-dksom input {
  border: 2px solid #234f84;
  color: #234f84;
  background: transparent;
  width: 70%;
  margin: 0 auto;
}

.modal-custom .modal-content .modal-body .content-dksom p {
  line-height: 1.6;
  font-weight: 500;
  color: var(--color2);
}

.modal-custom .modal-content .modal-body .content-dksom table {
  line-height: 1.6;
  font-weight: 500;
  color: var(--color2);
}

.modal-custom .modal-content .modal-body .content-dksom .btn-dangky {
  width: 70%;
  margin: 0 auto;
  background: #234f84;
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin-top: 1.5rem;
}

/*==FOOTER=*/
.footer {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-content p {
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.4rem;
}

@media (max-width: 1024px) {
  /*	footer{position: relative;}*/
}

@media (max-width: 768px) {
  body {
    background-size: 140%, 180%;
  }
  .header .header-center a.naptien {
    max-width: 80%;
  }
  .bangxephang .container .khungbxh {
    margin-top: -18.23vw;
  }
  .bangxephang .container .titlebxh .dateend {
    top: 22.13vw;
  }
  .bangxephang .container .titlebxh .dateend .h5 {
    font-size: 13px;
  }
}

@media (max-width: 540px) {
  :root {
    --ratio:0.8;
  }
  .bangxephang .container .khungbxh .khungin .tab-content table tr th img {
    max-width: 50%;
  }
}

@media (max-width: 414px) {
  :root {
    --ratio:0.6;
  }
  .header .header-center .logo img {
    max-width: 50%;
  }
  body {
    background-size: 140%, 180%;
  }
  .footer .footer-content p {
    font-size: 12px;
  }
  .vongquay .container .vongquay-main #go1 a .soluot {
    font-size: 95%;
    left: 52.5%;
  }
}

@media (max-width: 320px) {
  body {
    background-size: 140%, 250%;
  }
}
/*# sourceMappingURL=9main-duatop-mb.css.map */